# <center> Работа с геоданными

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import gmaps
import gmaps.datasets
import matplotlib.pyplot as plt

gmaps.configure(api_key='AIzaSyCMXB1apfKmXKG_JvlI8sauaDxfECeRmDU')

## Если не будут запусткаться карты, то следует выполнить команды ниже и перезакустить jupyter-server

In [2]:
#!jupyter nbextension enable --py --sys-prefix widgetsnbextension
#!jupyter nbextension enable --py --sys-prefix gmaps

## Загрузите агрегированные данные о поездках в мае 2016. Просуммируйте общее количество поездок такси из каждой географической зоны и посчитайте количество ячеек, из которых в мае не было совершено ни одной поездки.

In [3]:
data = pd.read_csv('data_aggregation/region_hour_count.csv', index_col=0)
data.head(5)

             date_hour  region  count
0  2016-05-01 00:00:00    1015      1
1  2016-05-01 00:00:00    1017      1
2  2016-05-01 00:00:00    1029      2
3  2016-05-01 00:00:00    1033      4
4  2016-05-01 00:00:00    1068      1

In [4]:
data[data['count'] == 0]

Empty DataFrame
Columns: [date_hour, region, count]
Index: []

## Нарисуйте статическую карту Нью-Йорка. Поставьте на карте точку там, где находится Эмпайр-Стейт-Билдинг.

In [5]:
figure_layout = {
                    'width': '950px',
                    'height': '800px',
                    'border': '1px solid black',
                    'padding': '1px'
                }

ESB = [
        [40.748817, -73.985428]
        ]
new_york_coordinates = (40.75, -74.00)

In [6]:
fig = gmaps.figure(center=new_york_coordinates, zoom_level=10, map_type='HYBRID', layout=figure_layout)

markers = gmaps.marker_layer(ESB)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='800px', padding='1px', width='950px'))

## Поверх статической карты Нью-Йорка визуализируйте данные о поездках из каждой ячейки так, чтобы цветовая шкала, в которую вы окрашиваете каждую ячейку, показывала суммарное количество поездок такси из неё.

In [7]:
locations = gmaps.datasets.load_dataset_as_df('acled_africa')
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))